<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<h1 th:text="${name}"></h1>
<h1 th:text="${course}"></h1>
<h1 th:text="${subject}"></h1>
<h1 th:text="${id}"></h1>
<h1 th:text="${nums}"></h1>
<h1 th:text="${date}"></h1>
<h1 th:text="${date.getDayOfMonth()}"></h1>
<h1 th:text="${date.getChronology()}"></h1>
<h1 th:text="${student}"></h1>
<h1 th:text="${student.getFirstName()}"></h1>
<h1 th:text="${student.setId(456)}"></h1>
<h1 th:text="${student.getId()}"></h1>
</body>
</html>