<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cydeo</title>
</head>
<body>
<!--Display Value of Model-->
<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>

<!--Concatenation-->
<h2 th:text="${'Hello ' + students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).firstName + ' ' + students.get(0).lastName}"></h2>

<!--link-->
<h2>
    <a th:href="@{http://cydeo.com}">Cydeo Page</a>
</h2>
<h2>
    <a th:href="@{/student/welcome}">Welcome</a>
</h2>

<!--Adding Parameters in Link-->
<h2>
    <a th:href="@{/student/welcome(id=3)}">Link</a>
</h2>
<h2>
    <a th:href="@{/student/welcome(name=${students.get(0).firstName})}">Link2</a>
</h2>

<!--Iteration-->
<h2>Printing student's first name</h2>
<ul>
    <li th:each="student:${students}" th:text="${student.firstName}"></li>
</ul>

<h2>Printing student's last name</h2>
<ul>
    <li th:each="student:${students}" th:text="${student.lastName}"></li>
</ul>

<h2>Printing all student data</h2>
<table class="table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student:${students}">
        <td th:text="${student.firstName}" align="center"></td>
        <td th:text="${student.lastName}" align="center"></td>
        <td th:text="${student.age}" align="center"></td>
        <td th:text="${student.state}" align="center"></td>

    </tr>
    </tbody>
</table>
</body>
</html>